<div class="center jumbotron">
    <h1> Welcome to Blackbox </h1>

    <h2>
        All file sharing sevice at one place.
    </h2>

    <%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-primary" %>
</div>